.header {
    background-color: rgb(129, 142, 197);
    background-size: 'cover'; 
    display: block;
    font-size: 24px;
    padding: 20px 3% 0;
    place-items: center;
  }

  nav {
    width: 100%;
    display: flex;
    place-items: left;
    color: white;
  }

  .logo {
    display: inline-block;
  }

  .navList {
    width: 100%;
    place-items: center;
    text-align: center;
    display: inline-block;
    list-style-type: none;
  }
  
  ul li {
    display: inline-block;
    margin-right: 5rem; 
    list-style-type: none;
  }

