.container {
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
    margin: 0;
}

.pageBody {
    padding: 50px;
    background-color: rgb(102, 102, 102);
}
